force-app/scratch-org/flows/Scratch_gjelder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>setValues</name>
        <label>setValues</label>
        <locationX>260</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>themeChosen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThemeCat.themeCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subThemeChosen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThemeCat.subthemeCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subTypeChosen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThemeCat.subtypeCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>themeGroupChosen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThemeCat.themeGroupCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hei_screen</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Scratch gjelder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scratch gjelder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Hei_screen</name>
        <label>Hei screen</label>
        <locationX>508</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textDisplay</name>
            <fieldText>&lt;p&gt;themeGroup: {!themeGroupChosen}&lt;/p&gt;&lt;p&gt;theme: {!themeChosen}&lt;/p&gt;&lt;p&gt;subtheme: {!subThemeChosen}&lt;/p&gt;&lt;p&gt;subtype: {!subTypeChosen}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Theme_Picker</name>
        <label>Theme Picker</label>
        <locationX>260</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setValues</targetReference>
        </connector>
        <fields>
            <name>ThemeCat</name>
            <extensionName>c:crmThemeCategorization</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Theme_Picker</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>subThemeChosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subTypeChosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>themeChosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>themeGroupChosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
